.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  font-size: large;
  font-weight: 600;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  overflow: hidden;

  & > * {
    font-size: large;
    border: none;
    padding: 1em;
  }

  &__button {
    color: lightgray;
    background-color: white;
    cursor: pointer;
  }

  &__at-icon {
    padding-right: 0;
    margin-bottom: 1px;
  }

  &__input {
    outline: none;
    padding-left: 0;
  }
}
